 #landing{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

 }
 .bg{
    position: absolute;
    top: -1rem;
    right: 0;
    object-fit: cover;
    z-index: -1;
    height: 100vh;
 }

.hireme{
    width: 1rem;
    height: 1rem;
    object-fit: cover;

}
.IntroContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Tilt Neon', sans-serif;
} 

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color:rgb(3, 158, 3);
}
.btn{
    margin: 1rem 0;
    background: white;
    color: black;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    font-family: 'Tilt Neon', sans-serif;
    font-weight: 700;
}
.btn:hover{
    background-color: rgb(3, 158, 3);
}

.introPara{
    font-size: medium;
    font-weight: 100;
}

@media screen and (max-width:980px) {
    
    .bg{
      right: -25vw;
    }  
    .IntroContent{
      font-size: 10vw;
    }
  }

@media screen and (max-width:840px) {
    
  .bg{
    right: -10vw;
  }  
  .IntroContent{
    font-size: 10vw;
  }
}

@media screen and (max-width:480px) {
    
    .bg{
      right: -35vw;
    }  
    .IntroContent{
      font-size: 10vw;
    }
  }
  @media screen and (max-width:290px) {
    
    .bg{
      right: -45vw;
    }  
    .IntroContent{
      font-size: 10vw;
    }
  }