#landing {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.bg {
  position: absolute;
  top: -1rem;
  right: 0;
  object-fit: cover;
  z-index: -1;
  height: 100vh;
}

.hireme {
  width: 1rem;
  height: 1rem;
  object-fit: cover;
}
.IntroContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Tilt Neon", sans-serif;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}

.introName {
  color: rgb(105, 117, 101);
  text-shadow: 0 0 1px white ;
}
.btn {
  margin: 1rem 0;
  background-color: #ffffff;
  color: black;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  border: 2px solid #000;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1rem;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 700;
}
.btn:hover {
  padding: 0.76rem 1.6rem;
  background-color: rgb(105, 117, 101);
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
}

.introPara {
  font-size: 1rem;
  font-weight: 100;
}

@media screen and (max-width: 980px) {
  .bg {
    right: -25vw;
  }
  .IntroContent {
    font-size: 10vw;
  }
}

@media screen and (max-width: 840px) {
  .bg {
    right: -10vw;
  }
  .IntroContent {
    font-size: 10vw;
  }
}

@media screen and (max-width: 480px) {
  .bg {
    right: -85vw;
  }
  .IntroContent {
    margin-top: 90px;
    font-size: 10vw;
  }
}
@media screen and (max-width: 290px) {
  .bg {
    right: -45vw;
  }
  .IntroContent {
    font-size: 10vw;
  }
}
