#about{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-family: 'Tilt Neon', sans-serif;

}

.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDec{
    font-weight: 200;
    font-size: 0.9rem;
    max-width: 50rem;
    padding: 0 2rem;
}

.skillsbars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(27, 25, 25);

}
.skillbarImg{
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
p{
    font-size: 0.9rem;
}

@media screen and (max-width: 780px) {
    p{
        font-size: 0.7rem;
    }
    .skillbarImg{
        margin-top: 1rem;
    }
    
}
@media screen and (max-width: 480px){
    .skillbarImg{
        height: 3rem;
        width: 3rem;
        margin-top: 4rem;
    }
}