*{
    color: whitesmoke;
}
.navbar{
    background: black;
    height:4rem;
    width:100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
    object-fit: cover;
    height: 5rem;
    width: 5rem;
}

.desktopMenuListItem{
    font-family: 'Tilt Neon', sans-serif;
    margin: 1rem;
    cursor: pointer;

}

.desktopMenuListItem:hover{
color: rgb(3, 158, 3);
padding-bottom: 0.5rem;
border-bottom: 1px solid rgb(3, 158, 3);
}

.desktopMenuBtn{
    font-family: 'Tilt Neon', sans-serif;
    background: white;
    color: black;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}
.desktopMenuBtn:hover{
    background: rgb(3, 158, 3);
}

.desktopMenuImg{
    height: 2rem;
    width: 2rem;
}
