#footer{
    margin:0;
}

.footer{
    background-color: rgb(46, 44, 44);
    padding: 0.4rem;
    font-family: 'Tilt Neon', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 714px) {
    .footer{
        font-size: 0.8rem;
    } 
}

@media screen and (max-width: 575px) {
    .footer{
        font-size: 0.6rem;
    } 
}
@media screen and (max-width: 390px) {
    .footer{
        font-size: 0.5rem;
    } 
}